# Подобные шаблоны  для Visual Studio и ASP.NET Core могут быть найдены на https://github.com/github/gitignore

##############################
# Общие для всех проектов
##############################

# Игнорирывание временных файлов, скомпилированных файлов и директорий, которые обычно не нужно добавлять в систему контроля версий

bin/
obj/
publish/
out/

# Пакеты NuGet
*.nupkg
# Папка с установленными пакетами (используется для пакетов, которые не определены в *.csproj)
packages/
# Файл с параметрами, который может пересоздаваться Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

##############################
# .NET Core специфические
##############################

# Токены сброса паролей
*.Razor.dll
*.Razor.g.cs
# Файлы настройки переменных, использующиеся для локальной разработки и тестирования
appsettings.Development.json
secrets.json

##############################
# Visual Studio специфические
##############################

# Временные файлы, которые создает Visual Studio, компилируя проект
*.vs/
# Локализация в Visual Studio
*.vscode/

# IntelliCode модели (Visual Studio 2022 и выше)
.vs/obj/

##############################
# IIS вебсервер специфические
##############################

# Файлы локальных серверов, например, для Cassini, IISExpress
/.vs/config/

# Файлы логов и временные файлы
*.log
*.tlog
*.ide.log

# Конфигурации и развертывания
.deploy/

##############################
# JetBrains Rider специфические
##############################

# Временные файлы, создаваемые IDE JetBrains Rider
.idea/
*.iml
/Makefile.iml

##############################
# macOS специфические
##############################

# Системные файлы macOS
.DS_Store